.dashboard-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.dashboard-header-menubar {
  flex: 1;
}

.dashboard-container > .menubar {
    display : none;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}

/* 모바일 (최대 768px) - 세로 배치 */
@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
  }
  
  .dashboard-header-menubar {
    display: none;
  }
  
  .dashboard-container > .menubar {
    display: flex;
  }
  
  .dashboard-content {
    padding-top : 10px;
  }
}

/* 태블릿 (769px ~ 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .dashboard-header {
    flex-direction: row;
  }
  
  .dashboard-header-menubar {
    display: block;
  }
  
  .dashboard-container > .menubar {
    display: none;
  }
  
  .dashboard-content {
    margin-top: 86px;
    padding-bottom: 20px;
  }
}

/* PC (1025px 이상) - 가로 배치 */
@media (min-width: 1025px) {
  .dashboard-header {
    flex-direction: row;
  }
  
  .dashboard-content {
    padding: 20px;
  }
}
