
:root {
  --main-color: #006EB7;
  --main-color-2: #63C3D1;

  --sub-color: #B6A2DE;
  --sub-color-2: #5AB1EF;

  --back-color: #F5F5F5;
  --back-color-2: #828282;

  --green: #63BE7B;
  --yellow: #FFD23F;

  --warning: #FE2C55;
  --profile-background-color: #BBECF3;
}